.logo-container {
    display: flex;
    align-items: center;
    /* Aligne le logo et le texte sur la même ligne */
    gap: 12px;
    /* Espace entre le logo et le nom */
    z-index: 101;
}

.logo {
    width: 100px;
    height: 85px;
    object-fit: contain;
}

.logo-container h1 {
    font-size: 22px;
    font-weight: 700;
    margin: 0;
    color:rgb(35, 109, 179)
}

nav {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 80px;

    z-index: 100;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 60px;

    background: rgba(0, 0, 0, 0.35);

    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    box-sizing: border-box;
}

#navbar {
   display: flex;
    align-items: center;

    gap: 30px;

    margin: 0;
    padding: 0;

    list-style: none;
}

#navbar li {
    list-style: none;
    /*ceci permet d'enlever les puces*/
    padding: 0;
    /*ceci permet de creer des espaces entre les options*/
    position: relative
}

#navbar li a {
    position: relative;
    text-decoration: none;
    font-size: 15px;
    /*la taille de la police*/
    font-weight: 600;
    color: rgb(196, 194, 194);
    transition: color 0.3s ease;
}

#navbar li a:hover,
#navbar li a:active {
    color: rgb(35, 109, 179)
}

#navbar li a:hover::after,
#navbar li a:active::after {
    content: "";
    width: 30%;
    height: 2px;
    background: rgb(35, 109, 179);
    position: absolute;
    bottom: -4px;
    left: 20px;
}

@media screen and (max-width: 768px) {
    nav {
        padding: 15px 20px;
    }

    .logo {
        width: 100px;
    }

    #navbar {
        gap: 15px;
    }

    #navbar li {
        padding: 0;
    }

    #navbar li a {
        font-size: 14px;
    }
}

.menu-icon {
    display: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
    z-index: 1001;
}

@media (max-width: 768px) {

    .menu-icon {
        display: block;
    }

    #navbar {
        position: fixed;
        top: 0;
        right: -300px;
        width: 280px;
        height: 100vh;

        background: #000;

        display: flex;
        flex-direction: column;
        align-items: flex-start;

        padding: 100px 30px 30px;

        transition: right 0.4s ease;
        z-index: 999;
    }

    #navbar.active {
        right: 0;
    }

    #navbar li {
        margin-bottom: 25px;
    }

}

.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 998;
}